<p style="color: green"><%= notice %></p>

<%= render @patient %>

<div>
  <%= link_to "Edit this patient", edit_patient_path(@patient) %> |
  <%= link_to "Back to patients", patients_path %>

  <%= button_to "Destroy this patient", @patient, method: :delete %>
</div>

<h2>Add record:</h2>
<%= form_with model: [ @patient, @patient.records.build ] do |form| %>
  <p>
    <%= form.label :right_eye_sph %><br>
    <%= form.text_field :sph %>
  </p>
  <p>
    <%= form.label :right_eye_cyl %><br>
    <%= form.text_field :cyl %>
  </p>
  <p>
    <%= form.label :right_eye_axis %><br>
    <%= form.text_field :axis %>
  </p>
  

  <p>
    <%= form.submit %>
  </p>
<% end %>